<!DOCTYPE html>
  <html lang="en">
  <head>
  <meta charset="utf-8">
  <title>Angular JS Modal</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="index.js" type="text/javascript"></script>
  </head>
  <body ng-app="myApp" ng-controller="myController">
    <form class="myform">
      <div style="margin-left: 60px; font-weight:bold;">Employee Details</div>
      Name: <input style="margin-left: 60px;" ng-model="name"><br>
      Employee ID : <input style="margin-left: 8px;" ng-model="eid"><br>
      Designation: <input style="margin-left: 18px;" ng-model="designation">
     </form>      
</body>
</html>
